body {
  font-family: 'Courier New', Courier, monospace;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: gray;
}

#add_task_button {
  background-color: #4CAF50; /* Green */
  color: white;
}

#add_task_button:disabled {
  background-color: lightgray;
  border: none;
}
