body {
  padding: 10px;
}

h1 {
  text-align: center;
}

main  {
  width: 50%;
  margin: auto;
}

main > * {
  width: 100%;
}

a, a:visited {
  color: blue;
}

td {
  padding: 10px;
}

.ligne-donnees {
  cursor: pointer;
}

.ligne-donnees:hover {
  background-color: lightgray;
}