body {
  padding: 10px;
}

h1 {
  text-align: center;
}

main  {
  width: 50%;
  margin: auto;
}

main > * {
  width: 100%;
}

a, a:visited {
  color: blue;
}

thead  {
  background-color: blue;
  color: white;
}

th {
  text-align: left;
}

th, td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: beige;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}

.ligne-donnees {
  cursor: pointer;
}

.ligne-donnees:hover {
  background-color: lightcyan;
}